---
layout: default
title: Projects
---
<!-- Projets et réalisations -->
<div class="container-fluid mt-3">
  <div class="container">
    <div class="row">
      <div class="col-12" id="projects">
        {% include topTitle.html topTitle=site.data.otherText.projects id="projects" %}
        <div id="projects-content">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 align-item-center justify-content-center">

            {% include list_of_projects.html %}

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
