<!-- Footer -->
<footer class="page-footer" role="footer">
  <div class="container-fluid mt-3">
      <div class="row">
          <div class="col-12">
              <p class="text-center">
                  <span class="fr">Tous droits réservés. &copy; 2020-{{ site.time | date: '%Y' }} - Antoine TABARAUD<br/><i>Dernière mise à jour : {{ site.lastUpdate.fr }}</i></span>
                  <span class="en">All rights reserved. &copy; 2020-{{ site.time | date: '%Y' }} - Antoine TABARAUD<br/><i>Last update : {{ site.lastUpdate.en }}</i></span>
              </p>
          </div>
      </div>
  </div>
</footer>
<!-- Fin Footer -->
