<!-- Footer -->
<footer class="page-footer" role="footer">
  <div class="container-fluid mt-3">
      <div class="row">
          <div class="col-12">
              <p class="text-center">
                {% for lang in site.languages %}
                  <span class="{{ lang }}">{{ site.data.otherText.copyright[lang] }}. &copy; 2020-{{ site.time | date: '%Y' }} - Antoine TABARAUD<br/><i>{{ site.data.otherText.lastUpdate[lang] }} : {{ site.lastUpdate[lang] }}</i></span>
                {% endfor %}
              </p>
          </div>
      </div>
  </div>
</footer>
<!-- Fin Footer -->
