<header class="sticky-top page-header">
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <a class="navbar-brand" href="/">AT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto mr-auto text-center">

                {% for nav in site.data.navbar %}

                <li class="nav-item ml-1 mr-1 {% if page.url ==  nav.link %}active{% endif %}">
                    <a class="nav-link" href="{{ nav.link }}">
                        <span class="fr">{{ nav.name.fr }}{% if page.url ==  nav.link %} <span class="sr-only">(actuel)</span>{% endif %}</span>
                        <span class="en">{{ nav.name.en }}{% if page.url ==  nav.link %} <span class="sr-only">(current)</span>{% endif %}</span>
                    </a>
                </li>
                {% endfor %}

                <!-- <li class="nav-item ml-1 mr-1 {% if page.url == '/' %}active{% endif %}">
                    <a class="nav-link" href="/">
                        <span class="fr">Accueil {% if page.url == "/" %}<span class="sr-only">(actuel)</span>{% endif %}</span>
                        <span class="en">Home {% if page.url == "/" %}<span class="sr-only">(current)</span>{% endif %}</span>
                    </a>
                </li>
                <li class="nav-item ml-1 mr-1 {% if page.url == '/diplomas' %}active{% endif %}">
                    <a class="nav-link" href="/diplomas">
                        <span class="fr">Diplômes {% if page.url == "/diplomas" %}<span class="sr-only">(actuel)</span>{% endif %}</span>
                        <span class="en">Diplomas {% if page.url == "/diplomas" %}<span class="sr-only">(current)</span>{% endif %}</span>
                    </a>
                </li>
                <li class="nav-item ml-1 mr-1 {% if page.url == '/work_experience' %}active{% endif %}">
                    <a class="nav-link" href="/work_experience">
                        <span class="fr">Expérience Professionnelle {% if page.url == "/work_experience" %}<span class="sr-only">(actuel)</span>{% endif %}</span>
                        <span class="en">Work Experience {% if page.url == "/work_experience" %}<span class="sr-only">(current)</span>{% endif %}</span>
                    </a>
                </li>
                <li class="nav-item ml-1 mr-1 {% if page.url == '/projects' %}active{% endif %}">
                    <a class="nav-link" href="/projects">
                        <span class="fr">Projets et réalisations {% if page.url == "/projects" %}<span class="sr-only">(actuel)</span>{% endif %}</span>
                        <span class="en">Projects and achievements {% if page.url == "/projects" %}<span class="sr-only">(current)</span>{% endif %}</span>
                    </a>
                </li>
                <li class="nav-item ml-1 mr-1 {% if page.url == '/contact' %}active{% endif %}">
                    <a class="nav-link" href="/contact">
                        <span class="fr">Me contacter {% if page.url == "/contact" %}<span class="sr-only">(actuel)</span>{% endif %}</span>
                        <span class="en">Contact me {% if page.url == "/contact" %}<span class="sr-only">(current)</span>{% endif %}</span>
                    </a>
                </li> -->
                <li class="nav-item dropdown ml-1 mr-1">
                    <a class="nav-link dropdown-toggle choix-lang" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="fr"><span class="flag-icon flag-icon-fr"> </span></span>
                        <span class="en"><span class="flag-icon flag-icon-gb"> </span></span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item choix-lang fr" href="?lang=EN"><span class="flag-icon flag-icon-gb"> </span>  English</a>
                        <a class="dropdown-item choix-lang en" href="?lang=FR"><span class="flag-icon flag-icon-fr"> </span>  Français</a>
                    </div>
                </li>
                <li class="nav-item custom-control custom-switch ml-1 mr-1">
                    <div class="nav-link">
                        <input type="checkbox" class="custom-control-input darkSwitch" id="darkSwitch"/>
                        <label class="custom-control-label darkSwitch" for="darkSwitch">Dark Mode</label>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Fin NavBar -->
</header>
