{% for project in site.data.projects %}

<!-- {{ project.name }} -->
<div class="col mb-4">
  <div class="card h-100">
    <div class="card-header text-center">
      <div class="row g-0 rowImage">
      {% if project.icon %}
        <div class="d-flex align-items-center">
          <img src="/assets/img/projects/{{ project.icon.name }}" class="rounded icon m-2" alt="{{ project.icon.alt }}">
        </div>
      {% endif %}
        <div class="col-12 d-flex align-items-center">
          <img src="/assets/img/projects/{{ project.image.name }}" class="rounded mx-auto" alt="{{ project.image.alt }}">
        </div>
      </div>
    </div>
    <div class="card-body">
      <h4 class="card-title text-center fr">{{ project.title.fr }}</h4>
      <h4 class="card-title text-center en">{{ project.title.en }}</h4>
      <hr>
      <div class="card-text fr">{{ project.content.fr }}</div>
      <div class="card-text en">{{ project.content.en }}</div>

      {% if project.ranking %}
      <hr>
      {% for rank in project.ranking %}
      <div class="card-text fr">{{ rank.icon }}{% if rank.link != "" %}<a target="_blank" href="{{ rank.link }}">{% endif %}&thinsp; {{ rank.title.fr }}{% if rank.link != "" %}</a>{% endif %}</div>
      <div class="card-text en">{{ rank.icon }}{% if rank.link != "" %}<a target="_blank" href="{{ rank.link }}">{% endif %}&thinsp; {{ rank.title.en }}{% if rank.link != "" %}</a>{% endif %}</div>
      {% endfor %}
      {% endif %}
    </div>
    {% if project.website or project.repository %}
    <div class="card-footer text-center d-grid gap-2">
      {% if project.website and project.website.lien != "" %}
      <a target="_blank" href="{{ project.website.lien }}" class="btn btn-primary fr">{{ project.website.txt.fr }}</a>
      <a target="_blank" href="{{ project.website.lien }}" class="btn btn-primary en">{{ project.website.txt.en }}</a>
      {% endif %}
      {% if project.repository and project.repository.lien != "" %}
      <a target="_blank" href="{{ project.repository.lien }}" class="btn btn-secondary fr">{% if project.repository.txt and project.repository.txt.fr != "" %}{{ project.repository.txt.fr }}{% else %}<i class="fab fa-github"></i> Github repository{% endif %}</a>
      <a target="_blank" href="{{ project.repository.lien }}" class="btn btn-secondary en">{% if project.repository.txt and project.repository.txt.en != "" %}{{ project.repository.txt.en }}{% else %}<i class="fab fa-github"></i> Github repository{% endif %}</a>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>

{% endfor %}
