{% for diploma in site.data.diplomas %}

<!-- {{ diploma.title.fr }} -->
<div class="card mb-5 shadow p-3 rounded">
    <div class="card-body">
        <div class="row">
            <div class="col-7">
              {% for lang in site.languages %}
                <h3 class="card-title {{ lang }}">{{ diploma.title[lang] }}</h3>
                <p class="card-subtitle {{ lang }}"><i class="fas fa-map-marker-alt"></i> {{ diploma.location[lang] }}</p>
              {% endfor %}
            </div>
            <div class="col-5 text-end">
              {% for lang in site.languages %}
                <h4 class="{{ lang }}"><i class="fas fa-calendar-alt"></i> {{ diploma.date[lang] }}</h4>
              {% endfor %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-8 align-self-center">
              {% for lang in site.languages %}
                <h5 class="card-subtitle {{ lang }}">{{ diploma.sub_title[lang] }}</h5>
              {% endfor %}
            </div>
            <div class="col-4 text-end align-self-center">
              {% for lang in site.languages %}
                <h4><span class="badge bg-{{ diploma.progress_bar.class }} {{ lang }}">{{ diploma.badge[lang] }}</span></h4>
              {% endfor %}
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col">
                <a class="card-link" target="_blank" href="{{ diploma.image.link }}"><img class="rounded" src="/assets/img/diplomas/{{ diploma.image.src }}" alt="{{ diploma.image.alt }}"></a>
            </div>
        </div>
        {% assign division = diploma.progress_bar.val | times: 1.0 | divided_by: diploma.progress_bar.max | times: 1.0 %}
        <div class="row">
            <div class="col">
                <div class="progress" style="height: 20px;">
                    <div class="progress-bar progress-bar-striped{% if division != 1.0 %} progress-bar-animated{% endif %} bg-{{ diploma.progress_bar.class }}" role="progressbar" style="width: 0%;" aria-valuenow="{{ diploma.progress_bar.val }}" aria-valuemin="0" aria-valuemax="{{ diploma.progress_bar.max }}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
