{% assign previous_year = 0 %}


{% for work in site.data.work_experience %}

{% assign mod = forloop.index | modulo: 2 %}

{% if previous_year != work.year %}
{% assign difference = previous_year | minus: work.year %}
{% if difference > 1 and forloop.first == false %}
<!-- {{ previous_year | minus: 1 }} -->
<!-- année -->
<div class="row g-0">
  <div class="timeline-annee">
    <h2>{{ previous_year | minus: 1 }}</h2>
  </div>
</div>
{% endif %}
<!-- {{ work.year }} -->
<!-- année -->
<div class="row g-0">
  <div class="timeline-annee">
    <h2>{{ work.year }}</h2>
  </div>
</div>
{% endif %}

{% assign previous_year = work.year %}
<div class="row">
  {% assign img = '/assets/img/experiences/' | append: work.image.src %}
  {% assign img = (img) | replace: "%20", " " %}
  <!-- {{ work.name }} -->
  <div class="card col-md-5 mt-4 shadow p-3 mb-4 {% if mod == 1 %}me-auto left arrow_box_right{% else %}ms-auto right arrow_box_left{% endif %} anim">
    <div class="row g-0">
      {% if mod!= 1 %}
      <a class="col-md-4 order-1 order-md-1 d-md-flex align-items-center text-center bg-light" target="_blank" href="{{ work.image.link }}">
        <img src="/assets/img/placeholder.png" data-src="{{ img }}" alt="{{ work.image.alt }}" class="img-fluid rounded m-2 mx-auto lazyloading"
        width="200" height="200" loading="lazy"
          style="width:auto;max-height: {% if work.image.rectangle == true %}5rem{% else %}10rem{% endif %};"/> <!-- 10rem pour les logos carrés - 5rem pour ceux rectangulaires -->
      </a>
      {% endif %}
      <div class="col-md-8 order-2 {% if mod == 1 %}order-md-1{% else %}order-md-2{% endif %} d-flex align-items-center">
        <div class="card-body">
          <h4 class="card-title">
            {% for lang in site.languages %}
              <span class="{{ lang }}">{{ work.title[lang] }}</span>
            {% endfor %}
          </h4>
          <h5 class="badge bg-primary">
            {% for lang in site.languages %}
              <span class="{{ lang }}">{{ work.job[lang] }}</span>
            {% endfor %}
          </h5>
          <div class="card-text">
            {% for lang in site.languages %}
              <div class="{{ lang }}">{{ work.description[lang] }}</div>
            {% endfor %}
          </div>
          <p class="card-text">
            <small class="text-muted">
              {% for lang in site.languages %}
                <span class="{{ lang }}"><i class="fas fa-calendar-alt"></i> {{ work.dates[lang] }}</span>
              {% endfor %}
            </small>
          </p>
        </div>
      </div>
      {% if mod == 1 %}
      <a class="col-md-4 order-1 order-md-2 d-md-flex align-items-center text-center bg-light" target="_blank" href="{{ work.image.link }}">
        <img src="/assets/img/placeholder.png" data-src="{{ img }}" alt="{{ work.image.alt }}" class="img-fluid rounded m-2 mx-auto lazyloading"
        width="200" height="200" loading="lazy"
          style="width:auto;max-height: {% if work.image.rectangle == true %}5rem{% else %}10rem{% endif %};"/> <!-- 10rem pour les logos carrés - 5rem pour ceux rectangulaires -->
      </a>
      {% endif %}
    </div>
  </div>
  <!-- point -->
  <div class="timeline-point anim"></div>
</div>


{% if forloop.last %}
<!-- {{ previous_year | minus: 1 }} -->
<!-- année -->
<div class="row g-0">
  <div class="timeline-annee">
    <h2>{{ previous_year | minus: 1 }}</h2>
  </div>
</div>
{% endif %}

{% endfor %}
