---
layout: default
title: Work Experience
work_experience : current
---
<!-- Timeline Expériences professionelles -->
<div class="container-fluid mt-3">
  <!-- Section Work Experience -->
  <div class="row">
    <div class="col-12" id="work">
      {% include topTitle.html topTitle=site.data.otherText.workExperience id="work" %}
      <div id="work-content">
        <div class="timeline m-3 anim">

          {% include list_of_work_experience.html %}

        </div>
      </div>
    </div>
  </div>
</div>
